<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Wanderlust</title>
    <!-- icon -->
    <link rel="shortcut icon" href="images/logo.png" type="image/x-icon" />
  </head>

  <body>
    <header>
      <nav
        class="navbar navbar-expand-lg navbar-bg fixed-top"
        data-bs-theme="dark"
      >
        <div class="container">
          <a class="navbar-brand" href="#">
            <img
              src="/assets/images/navbar_logo.png"
              alt="Logo"
              width="20"
              height="26"
              class="d-inline-block align-text-top"
            />
            Wanderlust
          </a>
          <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarNav"
            aria-controls="navbarNav"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
              <li class="nav-item">
                <a class="nav-link" href="/">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/explore.html">Discover</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/favorite.html">Favorite</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </header>
    <main class="container detail">
      <article>
        <div class="py-5">
          <div id="detail-content" class="row">
            <!-- content -->
          </div>
        </div>
      </article>
    </main>

    <footer>
      <div class="w-bg text-white text-center p-2">
        <p>© 2024 Wanderlust. All rights reserved.</p>
      </div>
    </footer>
  </body>
</html>
